<html>
  <head>
  </head>
  <body>

    <h1> Le Gossip </h1>
    <p> Voici le Gossip n° <%= id%><br/>
    
        <p>
        La Balance : <%= array_gossip[id].author %><br>
        La New de malade  :  <%= array_gossip[id].content %>
        </p>
   
    <a href = '/'>Retour à l'acceuil</a>
  </body>
</html>